/* Color fondo HEX = #A28E72*/


/* imports */
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

.color_tienda {
    background-color: #AB8A6B;
}

body{
    height:100vh;
}

.box-modulos {
    width: 100%;
    height: 100%;
    float: left;
    border-right: white 2px solid;
    background-color: #AB8A6B;
}

.box-nav {
    background-color: #AB8A6B;
    width: 100%;
    height: 100%;
    border-bottom: 1px white solid;
    color: white;
    padding: 15px;
    border-radius: 3px;
}

.letra {
    font-family: 'metropolis', sans-serif;
    font-size: 22px;
}

.botones_letras {
    font-size: 22px;
}

.subbotones_letras{
    font-size: 16px;
}

.letra.titulo {
    letter-spacing: 2px;
}

.vertical-menu {
    color: white;
    height: auto;

}

.vertical-menu ul,
a {
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 1px;

}

.vertical-menu a {
    padding: 10px;

}

.vertical-menu a:hover {
    color: yellow;
}

.vertical-menu li {
    margin-bottom: 25px;

}

.vertical-menu a.activado {
    background-color: gray;
    display: block;
    padding: 10px;
    color: yellow;
}


.btnsalir.letra {
    margin-top: 50px;
    padding: 1px;
    background-color: #AB8A6B;
    border-top: white 2px solid;
    color: white;
    bottom: 0px;

}

.cargo-txt {
    margin-left: 5px;
}

.config-txt {
    float: right;
    margin-right: 5px;
}

.box-dashboard {
    float: left;
    width: 75%;
}

.grid {
    display: flex;
    flex-direction: row;
    /*grid-template-columns: auto auto auto auto auto;*/
    justify-content: center;
    padding: 1px;
    /*border:yellow 3px solid;*/
    margin: 3px;
    width: 100%;
}

.grid-item {
    margin: 2px;
    /*border: red 3px solid;*/
   
    background-color: #AB8A6B;
    width: 250px;
    height: 150px;
    color: white;
    padding: 1px;
    text-align: center;
    background-color: #AB8A6B;
    border-radius: 3px;
    
}

.dashboard_empleados {
    margin: 2px;
    background-color: #AB8A6B;
    width: min-content;
    color: white;
    padding: 6px;
    text-align: center;
    border-radius: 4px;

}

.my-custom-scrollbar {
    position: relative;
    overflow-y: scroll;
}

.table-custom{
    display: block;
    height: 320px;
}

.grid-item.hilos {
    margin: 2px;
    /*border: red 3px solid;*/
    background-color: #AB8A6B;
    width: 250px;
    height: 150px;
    color: white;
    padding: 1px;
    text-align: center;
    background-color: green;
    border-radius: 3px;
}

.yaznik {

    background-color: green;
}

.grid-item ul {
    list-style: none;
}

.tzalam {

    background-color: blue;
}

.pucte {

    background-color: blueviolet;
}

.jabin {


    background-color: darkorange;
}

.rosa-morada {
    font-size: 18px;

    background-color: palevioletred;
}

.entrada {
    margin-top: 10px;
    padding: 0;
    margin-left: 10px;
    text-align: start;
    font-size: 20px;

}

.salida {
    padding: 0;
    margin-left: 10px;
    text-align: start;
    font-size: 20px;
}

.stock {
    padding: 0;
    margin-left: 10px;
    text-align: start;
    font-size: 20px;
}

@media only screen and (max-width: 930px) {

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .box-dashboard {
        width: 75%;
    }

    .grid {
        flex-direction: column;

    }

    .grid-item {
        width: 100%;
        display: block;
    }
}

/*@media only screen and (max-width: 1080px) {
    .letra {
        font-family: 'metropolis', sans-serif;
        font-size: 18px;

    }

    .form-empleados{
        font-family: 'metropolis', sans-serif;
        font-size: 18px;
    }

    .botones_letras {
        font-size: 16px;
    }
    .subbotones_letras{
        font-size: 18px;
    }

    .box-modulos {
        width: 100%;
        height: max-content;
        height: 100%;
    }

    .box-dashboard {
        width: 70%;
        border: 3px solid red;
    }

    .box-nav {
        background-color: #AB8A6B;
        width: 100%;
        height: 100%;
    }


}*/

.form-hilos {
    margin: 3px;
    padding: 3px;
}